<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animalia Insights | About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous" defer></script>
</head>

<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom container">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <img src="/images/Logo-img.png" class="bi me-2" width="300" height="45">
        </a>
      
        <ul class="nav">
          <li class="nav-item"><a href="/" class="nav-link px-2" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="/articles/new" class="nav-link px-2">Make a Post</a></li>
          <li class="nav-item"><a href="/about" class="nav-link px-2 link-secondary">About</a></li>
        </ul>
    </header>

    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
          <h1 class="text-body-emphasis">About Us</h1>
          <p class="lead">
            Welcome to Animal Posts, the ultimate destination for animal lovers and enthusiasts. Our mission is to celebrate the magnificent and diverse world of animals, from the tiniest insects to the largest mammals, and everything in between.
            <br><br>
            At Animal Posts, we believe that animals are more than just creatures that share our planet; they are incredible beings with their own unique stories, behaviors, and contributions to the natural world. We're here to explore, educate, and entertain you with a wide range of articles, stories, and insights about the animal kingdom.

            Our team of passionate writers and experts are dedicated to bringing you engaging content that covers a broad spectrum of topics, including wildlife conservation, pet care, fascinating animal facts, tips on responsible animal ownership, and heartwarming stories that showcase the incredible bonds between humans and animals.
            <br><br>
            Whether you're an animal lover, a pet owner, or simply curious about the creatures we share the Earth with, Animal Posts has something for everyone. We aim to inspire a deeper connection with the animal world, promote compassion, and raise awareness about the challenges and triumphs that animals face in today's world.

            Join us on this exciting journey as we explore the wonders of the animal kingdom, one story at a time. We hope that our blog will not only entertain and inform but also inspire you to appreciate, respect, and protect the amazing creatures that enrich our lives in countless ways.
            <br><br>
            Thank you for visiting Animal Posts, and we can't wait to share our love for animals with you!
          </p>
          <a href="/" class="btn btn-warning btn-sm m-3">Explore our website</a>
          <a href="/articles/new" class="btn btn-secondary btn-sm m-3">Become a creator</a>
        </div>
    </div>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top container">
        <p class="col-md-4 mb-0 text-body-secondary">© <%= new Date().getFullYear(); %> Darian Silisteanu</p>
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
          <li class="nav-item"><a href="/articles/new" class="nav-link px-2 text-body-secondary">Make a Post</a></li>
          <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>
    </footer>
</body>
</html>